@media (min-width:768px) {
    .hero-wrap {
        min-height: 800px;
    }
}

@media (max-width:767px) {
    .btn-warning {
        width: 50%;
    }

    .hero-wrap {
        min-height: 1100px;
    }
}

@media (max-width:576px) {
    .btn-warning {
        width: 60%;
    }

    .hero-wrap {
        min-height: 1100px;
    }
}


.hero-wrap .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    opacity: 1;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #160f30 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #160f30));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #160f30 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #160f30 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #160f30 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#160f30));
    background: linear-gradient(to bottom, rgba(249, 186, 46, 0.5) 0%, #302b0f8e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#160f30', GradientType=0)
}

.read-more {
    color: white;
}

.read-more:hover {
    color: orange;
}

.read-more1 {
    color: orange;
}

.read-more1:hover {
    color: white;
}

.page2 {
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.btn-warning1 {
    background-color: orange;
    color: white;
    width: auto;
    padding: 10px;

    border-radius: 0px;
    border-color: transparent;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top-width: 5px !important;
    box-sizing: border-box;
}

.btn-warning1:hover {
    border-radius: 0px;
    border-color: white;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top-width: 5px !important;
    box-sizing: border-box;
    color: black;
}


.text-hover {
    color: white;
    border-radius: 0px;
    border-color: transparent;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top-width: 10px !important;
    box-sizing: border-box;
}

.text-hover:hover {
    border-radius: 0px;
    border-color: white;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top-width: 10px !important;
    box-sizing: border-box;
    color: black;
}

.img-container {
    position: relative;
    width: 100%;
}

.img-overlay {
    width: 100%;
    display: block;
}

.cover-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    opacity: 0;
    transition: .8s ease-in;
    background: linear-gradient(to bottom, rgba(249, 186, 46, 0.5) 0%, #302b0f8e 100%);
    background-color: rgba(249, 186, 46, 0.5)
}

.img-container:hover .cover-overlay {
    opacity: 1;
}

.text-overlay {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 100px;
}

.page4 {
    min-height: 250px;
}


.page4-text-learn-more {
    color: white;
}

.page4-text-learn-more:hover {
    color: black;
}

@media (max-width:767px) {
    .page4-text {
        text-align-last: center;
    }

    .page4-text-h1 {
        text-align: center;
        font-size: 35px;
    }

    .page4-text-h4 {
        text-align: center;
        font-size: 18px;
    }
}

@media (min-width:767px) {
    .page4-text {
        text-align-last: left;
    }

    .page4-text-h1 {
        padding-left: 35px;
        font-size: 2em;
        margin: .67em 0
    }

    .page4-text-h4 {
        font-size: 18px;
    }
}

.page5 {
    background-image: url(image/bg-image-4.jpg);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

.page6 {
    min-height: 450px;
    width: 100%;
}

.page7 {
    min-height: 600px;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

.page7-form {
    border: 2px solid white;
    font-weight: bold;
    color: white;
}

.page7-form::placeholder {
    font-weight: bold;
    color: white;
}

.page7-form:hover {
    font-weight: bold;
    color: white;
}


.page7-form:active {
    font-weight: bold;
    color: white;
}

.page7:focus {
    font-weight: bold;
    color: white;
}

.page8 {
    width: 100%;
    color: #57677a;
    background: #ffffff;
}

.page8-p {
    font-size: 13px;
    font-weight: bold;
}

.page8-h {
    margin-top: -20px;
    font-weight: bold;
    color: #57677a;
}

.page8-icon {
    color: #57677a;
    font-size: 30px;
}

@media(max-width:767px) {
    .page8 {
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }
}
